.description  {
    font-size: 1.0rem;
    font-style: light;
    border: 2px dashed #e232ca;
}
.basetext {
    font-size: 1.4rem;
    padding: 3px;
}
.short {
    width: 60px;
    align-self: center;
    padding: 3px;
}
#graphic {
    border: 1px dashed #0d720d;
}

/* ltk overrides */
.ltk-input {
    font-size: 1.4rem;
    padding: 3px;
}